<%- include('partials/header') -%>
<article class="message is-dark">
  <div class="message-header">
    <p>Welcome</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <p><strong>Name: </strong><%= username %></p>
    <p><strong>Discord ID: </strong><%= discordId %></p>
  </div>
</article>
<div class="discord-button">
  <form action="/auth/logout">
    <button
      class="button is-primary is-rounded is-large custom-button"
      type="submit"
    >
      Logout
    </button>
  </form>
</div>

<%- include('partials/footer') -%>
