<%- include('partials/header') -%>
<div>
  <h1>Hello <%= username %> (<%= discordId %>)</h1>
</div>
<div class="discord-button">
  <form action="/auth/logout">
    <button
      class="button is-primary is-rounded is-large custom-button"
      type="submit"
    >
      Logout
    </button>
  </form>
</div>

<%- include('partials/footer') -%>
